*, * ::before, * ::after {
     box-sizing: border-box;
}
 body {
     font-family: 'Roboto', sans-serif;
     background-color: #D3D3D4;
}
 .address {
     padding: 8px 20px;
     color: #4A4A4A;
     width: 200px;
}
 .address h1 {
     font-weight: 500;
}
 .address h3 {
     font-weight: 300;
}
 .addressOut {
     padding: 8px 0 0 20px;
     color: #4A4A4A;
     width: 160px;
     font-weight:300;
}
 .addressReroute {
     padding: 8px 0 0 8px;
     color: #4A4A4A;
     width: 180px;
}
 .addressReroute h1 {
     font-weight: 300;
}
 .appBar ul {
     display: inline-flex;
     width: 100%;
     height: 56px;
     background-color: #3F51B5;
     font-weight: 400;
     color: #FFFFFF;
     font-size: 1.20em;
     padding: 20px 0;
}
 .arrow-back {
     padding: 2px 42px 0 14px;
}
 .bus {
     padding-right: 32px;
     color: #4A4A4A;
     font-size: 1.4em;
}
 .container {
     margin: auto;
     width: 360px;
     height: 640px;
     background-color: #F1F2F6;
}
 .content {
     display: inline-flex;
     font-size: 1em;
}
 .depart {
     font-size:1.12em;
     color: #303F9F;
     font-weight: 400;
     width: 185px;
}
 div.row:hover {
     background-color: #f1f1f5;
}
 hr {
     border: 1px solid #E8EAF6;
     margin: 16px 0 0 0;
}
 .list{
     background-color: #FFFFFF;
}
 .line {
     padding: 18px 16px;
     font-size: 1em;
     font-weight: 500;
     color: #4A4A4A;
     width: 50px;
}
 .lineOut {
     padding: 8px 0 0 16px;
     font-size: 1em;
     font-weight: 500;
     color: #4A4A4A;
     width: 50px;
}
 .lineReroute {
     padding: 8px 0 0 16px;
     font-size: 1em;
     font-weight: 500;
     color: #4A4A4A;
     width: 50px;
}
 .menu {
     background-color: #E8EAF6;
     box-shadow: 0 2px 4px #CED1E4;
     height: 54px;
     line-height: 1.2em;
}
 .menu ul {
     display: inline-flex;
     padding: 18px 16px;
}
 .navbar {
     height: 48px;
     width: 360px;
}
 .option-dots {
     padding: 2px 16px 0 57px;
}
 .reload {
     color: #303F9F;
     padding-left: 76px;
}
 .row {
     width: 100%;
     height: 54px;
     border-bottom: 2px solid #E8EAF6;
     line-height: 1.2em;
     font-size: 1em;
     display: inline-flex;
}
/*.row ul{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}
*/
 .statusBar {
     width: 360px;
     height: 24px;
     background-color: #303F9F;
     display: inline-flex;
}
 .status-content {
     padding: 5px 15px 5px 255px;
}
 .service {
     background-color: #FFFFFF;
     margin-top: 32px;
}
 .time {
     padding: 8px 16px;
     color: #4A4A4A;
     font-weight: 300;
     width: 130px;
}
 .timeOut {
     padding: 8px 16px 0 0;
     color: #4A4A4A;
     font-weight: 300;
     width: 150px;
}
 .timeReroute {
     padding: 8px 16px 16px 32px;
     color: #4A4A4A;
     font-weight: 300;
     width: 150px;
}
 .title {
     padding: 16px 0 6px 16px;
     font-size:1.12em;
     color: #4A4A4A;
     font-weight: 400;
}
